<!DOCTYPE html>
{% load static %}
<html>
<head> 
    <title> WELCOME TO HOME PAGE </title>
    
    <link rel = "stylesheet" href="{% static 'css/style.css' %}"
</head>

<body>
    <h1> WELCOME TO HOME PAGE </h1>
    <h2> MENU ITEMS </h2>
    <ul> 
        {% for product in products %}
        <li> {{ product.item_name }} - {{ product.item_price }} </li>
        {% empty %}
        <li> No Product Available</li>
        {% endfor %}
    </ul>

    <h2> Contact Us </h2>

    {% if success %}
        <p style:"color:green;">Thank you for contacting us </p>
    {% edif %}

    <form method = POST>
    {% csrf_token %}
    <label for ="name"> Name </label><br>
    <input type = "text" name="name" id="name" required><br><br>

    <label for = "email"> Email </label><br>
    <input type="text" name="email" id="email" required><br><br>

    <button type="submit">Submit </button> 
    </form>

    <h3>Other ways to contact ? <a href="{% url 'contact' %}"> our contacts </a>
    

    <section>
        <!-- Resturant Name's section -->
        <h1> Welcome to  {{ restaurant.name }} </h1>
        <h3> <a href="{% url 'about' %}"> Know more about us </a> </h3>
        
    </section>

    <section> 
        <!--Restaurant Address Sectior -->
        <h2> Visit Us </h2>
        <p> P-138 Dummy Address CP , Delhi , India </p>
        <p> {{ restaurant.phone }}


        <div style="width: 100%; max-width=600px">
            <!-- Google Maps embdedding , Dummy data for now-->
            <iframe
                src="https://www.google.com/maps/embed?pb=location_data" 
                width="100%" height="350"  style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referred-when-downgrade">

            </iframe>


        </div>
    </section>

</body>


</html>