<!DOCTYPE html>

<html>
<head> 
    <title> WELCOME TO HOME PAGE </title>
</head>

<body>
    <h1> WELCOME TO HOME PAGE </h1>
    <h2> MENU ITEMS </h2>
    <ul> 
        {% for product in products %}
        <li> {{ product.item_name }} - {{ product.item_price }} </li>
        {% empty %}
        <li> No Product Available</li>
        {% endfor %}
    </ul>

    <h2> Contact Us </h2>

    {% if success %}
        <p style:"color:green;">Thank you for contacting us </p>
    {% edif %}

    <form method = POST>
    {% csrf_token %}
    <label for ="name"> Name </label><br>
    <input type = "text" name="name" id="name" required><br><br>

    <label for = "email"> Email </label><br>
    <input type="text" name="email" id="email" required><br><br>

    <button type="submit">Submit </button> 
    </form>


</body>


</html>